$yellow-official:#FCF951;
$purple-official: #422057;

/*HOME Original colors*/
$body-bg-color: #F2F2F2;
$card-header-color: hsla(278, 47%, 10%, 0.911);
$gif-background-color:#2E2E2E;

/*SIDEBAR Original colors*/
$profile-body-color:hsla(277, 46%, 23%, 0.443);

$btn-color: hsl(204, 100%, 48%);
$a-color: #00376B;